main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arena {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around;
}